@use '../../scss/mixin/mixin.scss' as clamp-mixin;

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include clamp-mixin.clamp-fluid(padding-left, -0rem, 14rem);
    @include clamp-mixin.clamp-fluid(padding-right, 5rem, 14rem);
    @include clamp-mixin.clamp-fluid(height, 1rem, 4.8rem);
    @include clamp-mixin.clamp-fluid(padding-top, 2rem, 3.2rem);

    .ul {
        display: flex;
        justify-content: center;
        @include clamp-mixin.clamp-fluid(gap, 2rem, 3.3rem);

        .li {
            .links {
                @include clamp-mixin.clamp-fluid(font-size, 1.2rem, 1.4rem);
                color: black;
            }
        }
    }

    .btn {
        @include clamp-mixin.clamp-fluid(width, 10rem, 13rem);
        @include clamp-mixin.clamp-fluid(height, 3rem, 4.8rem);
        @include clamp-mixin.clamp-fluid(font-size, 1.2rem, 1.4rem);
        border-radius: 8px;
        background-color: #9FECF4;
        color: white;
        border: none;
    }
}



@media (max-width: 768px) {
  .links{
    display: none;
  }
    
      .btn{
             display: none;
      }

}