@use '../../scss/mixin/mixin.scss' as clamp-mixin;

.page {
    max-width: 144rem;
    width: 100%;
   

    .context {
        width: 100%;
            @include clamp-mixin.clamp-fluid(height, 20rem, 55rem);

        background-image: url('/image 872.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
   
    }
}

@media (max-width: 768px) {

    
    .context {
        width: 100%;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
   
    }
}