@use '../../../../scss/mixin/mixin.scss' as clamp-mixin;


.BestTourOperator {
    display: flex;
    @include clamp-mixin.clamp-fluid(padding-top, 1rem, 14rem);


    .Content {
        @include clamp-mixin.clamp-fluid(padding-left, 0.5rem, 15rem);
        @include clamp-mixin.clamp-fluid(padding-right, 2rem, 15rem);
        @include clamp-mixin.clamp-fluid(padding-top, 1rem, 8rem);




        @media (max-width: 1160px) and (min-width: 768px) {
            @include clamp-mixin.clamp-fluid(padding-right, 1rem, 1rem);
        }

        .Subtitle {
            @include clamp-mixin.clamp-fluid(font-size, 1.4rem, 1.4rem);
            color: #FF7B29;
        }

        .Title {
            @include clamp-mixin.clamp-fluid(font-size, 4rem, 6rem);
            @include clamp-mixin.clamp-fluid(margin-top, 0.5rem, 1rem);


            @media (max-width: 1160px) and (min-width: 768px) {
                @include clamp-mixin.clamp-fluid(font-size, 3rem, 6rem);
            }
        }

        .Description {
            @include clamp-mixin.clamp-fluid(font-size, 1.4rem, 1.6rem);
            @include clamp-mixin.clamp-fluid(margin-top, 1rem, 2rem);
            color: #676A6C;
        }


    }

    .ImageWrapper {}

    .Image {
        @media (max-width: 1160px) and (min-width: 768px) {

            @include clamp-mixin.clamp-fluid(width, 21rem, 50rem);
            @include clamp-mixin.clamp-fluid(height, 22rem, 40rem);

        }


        @media (max-width: 768px) {
                @include clamp-mixin.clamp-fluid(height, 25rem, 65rem);
        }
    }
}

@media (max-width: 768px) {


    .BestTourOperator {
        flex-direction: column;
    }

    .ImageWrapper {
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        .Image {
            width: 85%;
      
            border-radius: 10px;
        }
    }

}

@media (max-width: 425px) {




    .Image {

        @include clamp-mixin.clamp-fluid(width, 10rem, 50rem);
        @include clamp-mixin.clamp-fluid(height, 22rem, 40rem);
        border-radius: 10px;
    }


}